<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--Конфигурация для testNG фреймворка-->
<suite name="Mobile Suite">
    <test name="Delete Tests">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.academy.mobile.ddt.tests.full.SubscriberRestTest" />
        </classes>
    </test>
</suite>